[submodule "ocaml-uri"]
	path = ocaml-uri
	url = https://github.com/mirage/ocaml-uri.git
	branch = master
[submodule "digestif"]
	path = digestif
	url = https://github.com/mirage/digestif.git
	branch = master
[submodule "ocaml-cstruct"]
	path = ocaml-cstruct
	url = https://github.com/mirage/ocaml-cstruct.git
	branch = master
