[submodule "sexplib0"]
	path = sexplib0
	url = https://github.com/janestreet/sexplib0.git
	branch = master
[submodule "stringext"]
	path = stringext
	url = https://github.com/rgrinberg/stringext.git
	branch = master
[submodule "stdlib-shims"]
	path = stdlib-shims
	url = https://github.com/ocaml/stdlib-shims.git
	branch = master
[submodule "dune"]
	path = dune
	url = https://github.com/ocaml/dune.git
	branch = main
[submodule "ppxlib"]
	path = ppxlib
	url = https://github.com/ocaml-ppx/ppxlib.git
	branch = main
[submodule "ppx_derivers"]
	path = ppx_derivers
	url = git://github.com/ocaml-ppx/ppx_derivers.git
	branch = master
[submodule "ocaml-syntax-shims"]
	path = ocaml-syntax-shims
	url = https://github.com/ocaml-ppx/ocaml-syntax-shims.git
	branch = master
[submodule "csexp"]
	path = csexp
	url = https://github.com/ocaml-dune/csexp.git
	branch = master
[submodule "ocaml-uri"]
	path = ocaml-uri
	url = https://github.com/mirage/ocaml-uri.git
	branch = master
[submodule "ocaml-cstruct"]
	path = ocaml-cstruct
	url = https://github.com/mirage/ocaml-cstruct.git
	branch = master
[submodule "eqaf"]
	path = eqaf
	url = https://github.com/mirage/eqaf.git
	branch = master
[submodule "digestif"]
	path = digestif
	url = https://github.com/mirage/digestif.git
	branch = master
[submodule "bigarray-compat"]
	path = bigarray-compat
	url = https://github.com/mirage/bigarray-compat.git
	branch = master
[submodule "result"]
	path = result
	url = https://github.com/janestreet/result.git
	branch = master
[submodule "ppx_sexp_conv"]
	path = ppx_sexp_conv
	url = https://github.com/janestreet/ppx_sexp_conv.git
	branch = master
[submodule "ocaml-compiler-libs"]
	path = ocaml-compiler-libs
	url = https://github.com/janestreet/ocaml-compiler-libs.git
	branch = master
[submodule "bigstringaf"]
	path = bigstringaf
	url = https://github.com/inhabitedtype/bigstringaf.git
	branch = master
[submodule "angstrom"]
	path = angstrom
	url = https://github.com/inhabitedtype/angstrom.git
	branch = master
[submodule "lib-findlib"]
	path = lib-findlib
	url = https://github.com/dune-universe/lib-findlib.git
	branch = duniverse-1.8.1
[submodule "base"]
	path = base
	url = https://github.com/janestreet/base.git
	branch = master
